html {
  background: black;
  font-family: sans-serif;
  text-align: center;
}

.enter {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -120px;
  color: white;
  cursor: pointer;
}

.enter svg {
  width: 240px;
  fill: #f4f7dc;
}

.more {
  margin-top: calc(100vh - 80px);
  margin-bottom: 200vh;
  color: #f4f7dc;
}
